.slide-show {
	max-width: 1000px;
	position: absolute;
	margin: auto;
	z-index: -100;
    top:0;
    left:0;
    
}

.slide {
	display: none; /*Hide slide by default*/
	transition: ease-in-out;
    height: 620px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #fefefe;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 1s ease-in-out;
    max-width: 10px;
    max-height: 10px;
}

.active,
.dot:hover {
	background-color: #399de0;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 3s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

//Carousel Content 

.caption-area {
    color: #ffff;
    position: relative;
    padding: 70px 0 100px;
    text-align: center;
    z-index: -100;
}

.view-button-list {
    margin: 0;
    text-align: center;
    padding-left: 0;
    
}

.view-button {
    display: inline-block;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 11px 10px 10px;
    color:#ffff;
    background-color: transparent;
    border: 1px solid transparent;
    border-color: #ffff;
    text-decoration: none;
    cursor: pointer;
    margin: 0 0 19px 0;
      
}

.paging {
    display: flex;
    position: relative;
    z-index: 10;
}

.carousel-dots{
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
    justify-content: center;
    opacity: 0.8;
}