.slide-show {
	max-width: auto;
	position: absolute;
	margin: auto;
	z-index: -100;
    top:0;
    left:0;
       
}

.slide {
	display: none; /*Hide slide by default*/
	transition: ease-in-out;
    height: 620px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 1s ease-in-out;
    max-width: 10px;
    max-height: 10px;
}

.active,
.dot:hover {
	background-color: #399de0;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 3s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

//Carousel Content 

.caption-area {
    color: #ffff;
    padding: 150px 0 10px;
    width: 100%;
    max-width: auto;
    text-align: center;
    z-index: 100;
    display: inline-block;
    vertical-align: middle;
    position: relative;
   
}

.caption-text {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.caption-text h1{
    font-size: 32px;
    line-height: 42px;
    margin: 0 0 30px;
}

.view-buttons{
    margin: 0px;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.view-button-list {
    margin: 0;
    text-align: center;
    padding-left: 0;
    width: 100%;
}

.view-button-list li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.paging {
    display: flex;
    position: relative;
    z-index: 10;
}

.carousel-dots{
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
    justify-content: center;
    opacity: 0.8;
}

@media screen and (min-width: 768px) {

    .slide-img{
        height: auto;
    }
    .slide-show{
        right:0;
    }

    .caption-text{
        max-width: 960px;
    }
    .caption-text h1{
        font-size: 40px;
        line-height: 46px;
    }
}

