@use "variables" as *;

.contact-us{
    text-decoration: none;
    text-align: center;

    button {
        font-size: 120%;
        font-weight: bold;

        .dark{
            color: $text-color-light-grey;
            border: 2px solid $text-color-light-grey;
        }

        .light{
            color: $text-color-white;
            border: 2px solid $text-color-white;
        }
    }

    button{
        background: transparent;
        padding: 20px;
    }
    .contact-us-content{
        background-color: $text-color;
        color: $text-color-white;
    }
}