@use "variables" as *;
@use "typography";

.custom-section {
	background: url("../images/wave-white.png");
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;
	padding: 20px;
	// background-size: cover;

	h2 {
		color: $text-color-light-grey;
		font-family: $heading-font;
	}

	.gallery {
		display: grid;
		grid-template-columns: 1fr;

		.gallery-item {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		a {
			display: none;
		}
	}
}
