@use "variables" as *;

header {
	padding-top: 10px;
	background: $bg-header;
	width: 100%;
	opacity: 0.86;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
}

object {
	padding-left: 10px;
}

.user-bar {
	display: none;
}

@media screen and (min-width: 768px) {
	header {
		background-color: transparent;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
	}
	.container {
		width: 740px;
	}
	.user-bar {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		//padding: 10px 0 0;
		overflow: hidden;
		margin-left: -10px;
		margin-right: -10px;
		text-align: center;
	}

	.user-bar-right {
		width: 50%;
		vertical-align: top;
		position: relative;
		min-height: 1px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: right;
	}

	.user-bar-left {
		width: 50%;
		overflow: hidden;
		position: relative;
		min-height: 1px;
		padding-right: 10px;
		text-align: left;
	}

	.desktop-alt-menu {
		padding-left: 0;
	}

	.desktop-alt-menu li {
		display: inline;
		margin-left: 10px;
		margin-right: 10px;
	}
	.desktop-alt-menu li a {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
	}

	.header-contact {
		padding-left: 0;
	}
	.header-contact li {
		display: inline;
		margin-left: 10px;
		margin-right: 10px;
	}
	.header-contact li a {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
	}
	.vulcan-logo {
		display: flex;
		justify-content: space-around;
		padding-bottom: 10px;
	}

	.header-contact li i {
		padding: 3px;
		background-color: white;
		border-radius: 50%;
		font-size: 12px;
		margin-right: 10px;
	}
}

@media screen and (min-width: 768px) {
	#vulcan-logo-svg {
		width: 160px;
		height: 66px;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		width: 960px;
	}

	#vulcan-logo-svg {
		width: 213px;
		height: 88px;
	}
}
