@use "variables" as *;

.location-contact {
	text-decoration: none;
	text-align: center;
	background-color: $text-color;
	// height: 500px;
	button {
		margin: 20px;
	}

	.location-content {
		position: relative;
		color: $text-color-light-grey;
		height: 100%;

		img {
			object-fit: cover;
			width: 100%;
			height: inherit;
			min-height: 334px;
		}

		article {
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			h2 {
				font-size: 30px;
				line-height: 30px;
				margin: 0 0 12px;
			}
		}
	}
	.contact-us {
		position: relative;
		background-color: $text-color;
		color: $text-color-white;
		height: 500px;

		article {
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			h2 {
				font-size: 30px;
				line-height: 36px;
				max-width: 70%;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.location-contact {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		grid-auto-flow: column;
		direction: rtl;
		min-height: 300px;

		article {
			h2 {
				direction: ltr;
			}
		}
	}
}
