@use "variables" as *;

.location-contact{

    text-decoration: none;
    text-align: center;
    background-color: $text-color;

    .location-content{
        position: relative;
        color: $text-color-light-grey;

        img{
            object-fit: cover;
            width: 100%;
            height: 334px;
        }

        article{
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .contact-us{
        background-color: $text-color;
        color: $text-color-white;
        margin: 50px;

    }
}
@media screen and (min-width: 768px) {
    .location-contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

  }