@use "variables" as *;

.location-contact {
	text-decoration: none;
	text-align: center;
	background-color: $text-color;
	// height: 500px;
	button {
		margin: 20px;
	}

	.location-content {
		position: relative;
		color: $text-color-light-grey;
		height: 100%;

		h2 {
			font-size: 2.5rem;
		}

		img {
			object-fit: cover;
			width: 100%;
			height: inherit;
			min-height: 375px;
		}

		article {
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -70%);
		}
	}
	.contact-us {
		position: relative;
		background-color: $text-color;
		color: $text-color-white;

		height: 500px;

		h2 {
			font-size: 2.5rem;
		}

		article {
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -70%);
			width: 100%;
		}
	}
}
@media screen and (min-width: 768px) {
	.location-contact {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		grid-auto-flow: column;
		direction: rtl;
		min-height: 300px;
	}
}
