@use "variables" as *;
@use "typography";
// 

.video-section{
	background-color: $text-color-light;
	padding: 60px;
}
.embed-container{
	overflow: hidden;

	// padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
	
	border: 15px solid $text-color;

	position: relative;
	overflow: hidden;
	width: 70%;
	height: 0;
	padding-bottom: 39.25%;
	margin: 0px auto;

	iframe{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		justify-content: center;
		background-color: green;
	}
}

