// Place your Sass imports here...
@use "reset";
@use "variables" as *;
@use "mixins" as *;
@use "functions" as *;
@use "typography";
@use "carousel";
@use "nav";
@use "header";
@use "footer";
@use "gallery";
@use "location-contact";
@use "custom";

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 0;
}
